.dart_tool/
.packages
.pub/
build/
coverage/
*.iml
.idea/
.vscode/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
.DS_Store

# Local app data / generated exports
*.gpx
